{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".tsx", ".js"],
        "paths": ["src"]
      }
    }
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "next/core-web-vitals",
    "airbnb",
    "prettier",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "plugin:sonarjs/recommended",
    "plugin:react-hooks/recommended",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "tsconfigRootDir": "./",
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true,
      "js": true
    }
  },
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["invalidHref", "preferButton"]
      }
    ],
    "import/prefer-default-export": "off",
    "import/no-unresolved": [2, { "caseSensitive": false }],

    "quotes": ["error", "single", { "avoidEscape": true }],
    "linebreak-style": ["error", "unix"],
    "semi": ["error", "always"],
    "prefer-const": "error",
    "no-unused-vars": "off",
    "no-console": "error",
    "prettier/prettier": [
      "error",
      {
        "noInlineStyles": true,
        "noUnusedVars": "warn"
      }
    ],

    "eol-last": ["error", "always"],
    "no-multiple-empty-lines": "error",
    "react/jsx-indent": ["error", 2],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1,
        "ignoredNodes": ["ConditionalExpression"]
      }
    ],
    "@typescript-eslint/no-redundant-type-constituents": "warn",
    "@typescript-eslint/no-misused-promises": [
      "error",
      {
        "checksVoidReturn": false
      }
    ],
    "@typescript-eslint/require-array-sort-compare": [
      "error",
      {
        "ignoreStringArrays": true
      }
    ],
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-explicit-any": "warn",

    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".ts", ".tsx", ".js", ".jsx"]
      }
    ],
    "react/jsx-curly-spacing": [
      "error",
      {
        "when": "never",
        "allowMultiline": true,
        "children": true
      }
    ],
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-unsafe-argument": "off",
    "@typescript-eslint/no-unsafe-return": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-non-null-asserted-optional-chain": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/strict-boolean-expressions": "off",
    "@typescript-eslint/no-floating-promises": "off",

    "react/display-name": "off",
    "react/prop-types": "off",
    "react-hooks/exhaustive-deps": "off",
    "react/function-component-definition": "off",
    "react/require-default-props": "off",
    "react/no-unused-prop-types": "off",
    "react/no-unescaped-entities": "off",
    "react/jsx-props-no-spreading": "off",
    "react/react-in-jsx-scope": "off",

    "func-names": "off",
    "no-nested-ternary": "off",
    "no-empty-function": "off",
    "no-plusplus": "off",
    "no-process-exit": "off",
    "class-methods-use-this": "off",
    "object-curly-spacing": "off",
    "import/no-named-as-default": "off",
    "no-else-return": "off"
  }
}
